.hidden{
    display: none;
}

.sync-state{
    background-color: yellow;
}

.ready-state{

}

.error-state{
    background-color: red;
}

#raw-product-list{
    height: 640px;
    overflow: hidden;
    overflow-y: scroll;
}

.product-item{
    width: 15%;
}
.product-item.description{
    width: 30%;
}

.component-item{
    width: 15%;
}
.component-item.description{
    width: 20%;
}

.dish-item{
    width: 7.5%;
}
.dish-item.description{
    width: 20%;
}
/*button{*/
    /*width: 30px;*/
/*}*/

.daily-product > .daily-lable{
    width: 60px;
}

.daily-product > button{
    width: 60px;
}

.daily-product > textarea{
    min-height: 24px;
    height: 24px;
    overflow: hidden;
    resize: none;
    vertical-align: top;
}

.dish-item, .component-item, .product-item,.daily-item {
    margin: 0;
    padding: 0;
}

.daily-item{
    width: 10%;
}

.daily-item.description, .daily-item.details{
    width: 20%;
}

body.modal-open .blur-on-modal{
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}